<div class="new-board">
  <h3 class="display-4">{{ boardTitle }}</h3>
  <hr class="my-4" />
  <p class="content"></p>
  <div class="board-btns">
    <p class="lead">
      <button type="button" class="btn btn-outline-dark">
        {{ 'newBoard.addColumn' | translate }}
      </button>

      <button
        type="button"
        class="btn btn-outline-danger"
        (click)="deleteCurrentBoardAsk()"
      >
        {{ 'newBoard.deleteBoard' | translate }}
      </button>
    </p>
    <p class="lead">
      <button type="button" class="btn btn-outline-dark" (click)="back()">
        {{ 'boards.back' | translate }}
      </button>
    </p>
  </div>
</div>

<div class="input-group mb-3 modal-delete-current-board">
  <div class="input-block">
    <div class="delete-confirmation">
      <h4>{{ 'newBoard.deleteBoardAsk' | translate }}</h4>
    </div>
    <div class="buttons">
      <button
        class="btn btn-primary confirm-delete-current-board"
        type="button"
      >
        {{ 'modal.confirm' | translate }}
      </button>
      <button class="btn btn-primary cancel-delete-current-board" type="button">
        {{ 'modal.cancel' | translate }}
      </button>
    </div>
  </div>
</div>
