.banner-footer {
  position: fixed;
  bottom: 0px;
  width: 100vw;
  height: 80px;
  background: #fce6d2;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.course-info {
  text-align: center;
  margin-top: 10px;
  color: #233142;
  font-weight: 100;
  font-size: 14px;
}
a {
  text-decoration: none;
  color: #975a5e;
}
