<div class="banner-footer">
  <a href="https://rs.school/angular/" target="_blank"
    ><img src="../../../assets/rs-school-logo.svg" width="140"
  /></a>
  <div class="course-info">
    This project was coded by
    <a href="https://cv-masliak-yulia-front-end.netlify.app/" target="_blank"
      >Yulia Masliak</a
    >
    and is open-sourced on
    <a
      href="https://github.com/yuliaMasliak/angular-project-management-system"
      target="_blank"
      >Git Hub</a
    ><br />
    March 2023
  </div>
</div>
