.banner {
  top: 0px;
  width: 100%;
  height: 90px;
  background: #453953;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 40px;
}
.logout {
  width: 90px;
  border-radius: 8px;
  border: 1px solid #fce6d2;
  color: #233142;
  cursor: pointer;
  display: inline-block;
  font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-right: 10px;
  padding: 10px 12px;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  background-color: #fce6d2;
}
.btns {
  width: 140px;
  border-radius: 8px;
  border: 1px solid #fce6d2;
  color: #233142;
  cursor: pointer;
  display: inline-block;
  font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-right: 10px;
  padding: 10px 12px;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  background-color: #fce6d2;
}
button:hover {
  box-shadow: 0px 5px 10px 0px rgba(17, 0, 24, 0.822);
}
.fake {
  display: inline-block;
  width: 40px;
}

span {
  margin-right: 50px;
}
.btn-light {
  width: 60px;
  margin-right: 2px;
  margin-left: 2px;
  background-color: #d5e4fa;
  border: none;
}
.welcome {
  color: white;
  font-size: larger;
  font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
}
a {
  cursor: pointer;
}
.modal-create-board {
  visibility: hidden;
  position: absolute;
  top: 0px;
  bottom: 0px;
  background-color: rgba(98, 98, 126, 0.603);
}
.active {
  visibility: visible;
}
.hidden {
  visibility: hidden;
}
