<div class="banner">
  <div class="header-buttons">
    <a routerLink="/main"><img src="../../../assets/logo" width="140" /></a>

    <a
      ><button class="btns">{{ 'edit' | translate }}</button></a
    >
    <a
      ><button class="btns">{{ 'board' | translate }}</button></a
    >
  </div>
  <div class="welcome">{{ 'welcome' | translate }}, {{ name | titlecase }}</div>
  <div class="header-buttons">
    <a routerLink=""
      ><button class="logout">{{ 'logout' | translate }}</button></a
    >

    <div class="fake"></div>
  </div>
</div>
