<div class="banner dashboard">
  <div class="header-buttons">
    <a (click)="toMainPage()"><img src="../../../assets/logo" width="140" /></a>
    <span class="lang-switcher">
      <button class="btn btn-light" (click)="translate.use('en')">
        {{ 'lang.en' | translate }}
      </button>
      <button class="btn btn-light" (click)="translate.use('ua')">
        {{ 'lang.ua' | translate }}
      </button>
    </span>
    <a
      ><button class="btns" (click)="toBoards()">
        {{ 'allBoards' | translate }}
      </button></a
    >
    <a
      ><button class="btns" (click)="editProfile()">
        {{ 'edit' | translate }}
      </button></a
    >
    <a
      ><button class="btns" (click)="createBoardModalOpen()">
        {{ 'board' | translate }}
      </button></a
    >
  </div>

  <div class="header-buttons">
    <a routerLink=""
      ><button class="logout" (click)="deleteToken()">
        {{ 'logout' | translate }}
      </button></a
    >

    <div class="fake"></div>
  </div>
</div>

<app-modal
  *ngIf="modal.newBoard"
  title="{{ 'modal.createBoard' | translate }}"
  (submitResult)="provideResultOfModal($event)"
></app-modal>
