h3 {
  margin-top: 30px;
  margin-left: 100px;
}

.search-input,
.search-result {
  margin-top: 30px;
  margin-left: 100px;
  width: 25%;
}

.input-block {
  height: 40%;
  width: 30%;
  margin: 0px auto;
  margin-top: 10%;
  background-color: azure;
  border-radius: 5px;
  text-align: center;
}
.form-control {
  max-width: 55%;
  max-height: 25%;
  margin: 0px auto;
  margin-top: 10%;
  margin-bottom: 15px;
}

.boards {
  max-width: 80%;
  padding: 20px;
  margin: 0px auto;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.board {
  text-align: center;
  width: 12rem;
  height: 12rem;
  background: linear-gradient(135deg, #fab4abda 0%, #e9a3fade 100%);
  box-shadow: rgba(99, 14, 107, 0.35) 0px 5px 15px;
  padding: 10px;
  display: inline-block;
  margin: 10px;
}
.board:hover {
  box-shadow: rgba(107, 25, 25, 0.55) 0px 5px 15px;
  cursor: pointer;
}
.single-card {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -2rem;
}
.card-title {
  font-size: 26px;
}
.settings {
  display: flex;
  justify-content: space-between;
  color: #453953;
}
.bi {
  cursor: pointer;
}
svg {
  color: rgb(2, 140, 231);
}
svg:hover {
  color: rgba(119, 158, 202, 0.822);
}
input {
  width: 18%;
  margin-right: 5px;
}
form {
  text-align: left;
}
* {
  font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
}

button {
  background-color: #502f53;
  border: 1px solid #502f53;
  color: white;
  height: 2rem;
  border-radius: 5px;
}
button:hover {
  color: #542558;
  background-color: beige;
  border: 1px solid #533f55;
  box-shadow: rgba(107, 25, 25, 0.55) 0px 5px 15px;
}
.all-boards-columns-btns {
  display: flex;
  justify-content: center;
  column-gap: 15px;
}
.all-user-columns {
  display: flex;
  justify-content: center;
  max-width: 80%;
  padding: 20px;
  margin: 0px auto;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: auto;
  overflow-y: hidden;

  white-space: nowrap;
}
.single-card-column {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -0.5rem;
}
.active {
  color: #542558;
  background-color: beige;
  border: 1px solid #533f55;
  box-shadow: rgba(107, 25, 25, 0.55) 0px 5px 15px;
}
.small-text {
  font-size: 15px;
}
.to-board {
  font-size: 18px;
  padding: 3px;
  color: #542558;
  cursor: pointer;
}
