h3 {
  margin-top: 50px;
  margin-left: 100px;
}
h3 {
  margin-top: 50px;
}
.input-block {
  height: 40%;
  width: 30%;
  margin: 0px auto;
  margin-top: 10%;
  background-color: azure;
  border-radius: 5px;
  text-align: center;
}
.form-control {
  max-width: 55%;
  max-height: 25%;
  margin: 0px auto;
  margin-top: 10%;
  margin-bottom: 15px;
}

.boards {
  max-width: 70%;
  margin: 0px auto;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.board {
  text-align: center;
  width: 20%;
  min-height: 150px;
  background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.single-card {
  margin-top: 20px;
}
.settings {
  display: flex;
  justify-content: space-between;
  color: #453953;
}
