.login {
  max-width: fit-content;
  margin: 0px auto;
  text-align: center;
  padding: 30px;
  border-radius: 5px;
  background-color: #fdc4c4bd;
}
form {
  text-align: left;
}
* {
  font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
}
button {
  background-color: #6d3f42;
  border: 1px solid #975a5e;
  color: white;
}
button:hover {
  background-color: #442628;
  border: 1px solid #442628;
  box-shadow: 0px 5px 10px 0px rgba(47, 21, 58, 0.822);
  color: white;
}
span,
.warning {
  color: red;
  font-size: 14px;
  max-width: 220px;
  text-align: center;
}
