<div class="login">
  <h2>LOG IN</h2>
  <form [formGroup]="loginForm" (ngSubmit)="loginAuthUser()">
    <div class="mb-3">
      <label for="input-email1" class="form-label">Login<span>*</span></label>
      <input
        type="text"
        formControlName="login"
        class="form-control"
        id="input-email1"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="password1" class="form-label">Password<span>*</span></label>
      <input
        type="password"
        formControlName="password"
        class="form-control"
        id="password1"
      />
      <div
        class="warning"
        *ngIf="
          this.loginForm.get('password')?.invalid &&
          this.loginForm.get('password')?.touched
        "
      >
        min 8 characters, at least 1 letter and 1 number)
      </div>
    </div>
    <div class="mb-3 form-check">
      <input
        type="checkbox"
        formControlName="argeement"
        class="form-check-input"
        id="exampleCheck1"
      />
      <label class="form-check-label" for="exampleCheck1"
        >I agree to share my data</label
      >
    </div>
    <button class="btn" [disabled]="loginForm.invalid">Submit</button>
  </form>
  <br />
  <div class="form-text">
    Don't have an account yet? <a routerLink="/signup">Sigh Up</a>
  </div>
</div>
