.banner {
  height: 70px;
  background: #455d7a;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 40px;
}
.header-buttons button {
  width: 70px;
  border-radius: 8px;
  border-width: 0;
  color: #233142;
  cursor: pointer;
  display: inline-block;
  font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin-right: 10px;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
