<div class="banner">
  <a routerLink="/main/welcome"
    ><img src="../../../assets/logo" width="140"
  /></a>
  <span class="lang-switcher">
    <button class="btn btn-light" (click)="translate.use('en')">
      {{ 'lang.en' | translate }}
    </button>
    <button class="btn btn-light" (click)="translate.use('ua')">
      {{ 'lang.ua' | translate }}
    </button>
  </span>
  <div class="header-buttons">
    <a (click)="checkTokenLogin()"
      ><button>{{ 'buttons.log.login' | translate }}</button></a
    >
    <button routerLink="/main/signup">
      {{ 'buttons.log.signup' | translate }}
    </button>
    <div class="fake"></div>
  </div>
</div>
