<div class="new-board">
  <h3 class="display-4">{{ boardTitle }}</h3>

  <hr class="my-4" />
  <p class="content"></p>
  <div class="board-btns">
    <p class="lead">
      <button type="button" class="btn btn-outline-dark">
        {{ 'newBoard.addColumn' | translate }}
      </button>

      <button
        type="button"
        class="btn btn-outline-danger"
        (click)="modalDelete()"
      >
        {{ 'newBoard.deleteBoard' | translate }}
      </button>
    </p>
    <p class="lead">
      <button type="button" class="btn btn-outline-dark" (click)="back()">
        {{ 'boards.back' | translate }}
      </button>
    </p>
  </div>
</div>

<app-modal
  *ngIf="modal.value"
  title="{{ 'newBoard.deleteBoardAsk' | translate }}"
  (submitResult)="provideResultOfModal($event)"
></app-modal>
