.new-board {
  margin: 0px auto;
  background-color: #e1c3f5c4;
  max-width: 50%;
  margin-top: 70px;
  padding: 20px;
  border-radius: 7px;
}
.btn-outline-dark {
  margin-right: 10px;
}
h3 {
  text-align: center;
}
.content {
  min-height: 150px;
}

.board-btns {
  display: flex;
  justify-content: space-evenly;
}
