.new-board {
  margin: 0px auto;
  background-color: #e1c3f5c4;
  max-width: 90%;
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 20px;
  border-radius: 7px;
}
.btn-outline-secondary {
  margin-right: 10px;
}
.head {
  display: flex;
  justify-content: space-between;
}
.board-title {
  text-align: center;
}
h6 {
  margin: 0px auto;
}
.content {
  min-height: 150px;
}

.board-btns {
  display: flex;
  justify-content: space-between;
}
.hidden {
  visibility: hidden;
}
.btn-outline-info {
  margin-left: 30px;
}
.btn-outline-danger {
  margin-left: 10px;
}
.bi {
  width: 3%;
  cursor: pointer;
  color: rgb(40, 57, 206);
}
.bi:hover {
  cursor: pointer;
  color: rgb(172, 39, 72);
}
