.modal-overlap {
  z-index: 2;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(
    rgba(245, 218, 250, 0.099),
    rgba(245, 218, 250, 0.384),
    rgba(245, 218, 250, 0.099)
  );
}
.input-block {
  height: 40%;
  width: 30%;
  margin: 0px auto;
  margin-top: 10%;
  background-color: rgba(154, 164, 185, 0.726);
  border-radius: 5px;
  text-align: center;
}
.form-control {
  max-width: 55%;
  max-height: 25%;
  margin: 0px auto;
  margin-top: 10%;
  margin-bottom: 15px;
}
.submit-create-board {
  margin-right: 20px;
}
h3 {
  padding-top: 50px;
}
