h1 {
  margin-top: 50px;
  margin-left: 100px;
}
.list-group {
  margin-top: 50px;
  margin-left: 100px;
  max-width: fit-content;
}
.li-account {
  list-style: none;
  border: 1px solid lightgray;
  padding: 5px;
}
label {
  margin-left: 20px;
}
.input-group {
  visibility: hidden;
  position: absolute;
  top: 0px;
  bottom: 0px;
  background-color: rgba(98, 98, 126, 0.603);
}

.btn-outline-danger {
  margin-top: 10px;
  max-width: 70%;
}

.btn-outline-info {
  max-width: 70%;
}
