<ul class="list-group">
  <h3>{{ 'account.title' | translate }}</h3>
  <label for="">{{ 'signup.login' | translate }}</label>
  <li class="list-group-item">
    <button type="button" class="btn btn-outline-info" (click)="editLogin()">
      {{ 'account.edit' | translate }}
    </button>
    {{ login }}
  </li>
  <label for="">{{ 'signup.name' | translate }}</label>
  <li class="list-group-item">
    <button type="button" class="btn btn-outline-info" (click)="editName()">
      {{ 'account.edit' | translate }}
    </button>
    {{ name }}
  </li>

  <label for=""> {{ 'signup.password' | translate }}</label>
  <li class="list-group-item">
    <button type="button" class="btn btn-outline-info" (click)="editPassword()">
      {{ 'account.editPassword' | translate }}
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-eye-slash-fill"
        viewBox="0 0 16 16"
      >
        <path
          d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z"
        />
        <path
          d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12-.708.708z"
        />
      </svg>
    </button>
  </li>

  <button type="button" class="btn btn-outline-danger" (click)="deleteUser()">
    {{ 'account.delete' | translate }}
  </button>
</ul>
<div class="input-group mb-3 modal-name">
  <div class="input-block">
    <input
      type="text"
      id="input-name-modal"
      class="form-control"
      placeholder="Enter name"
      aria-label="Recipient's username"
      aria-describedby="basic-addon2"
    />
    <button class="btn btn-primary submit-name" type="button">Submit</button>
    <button class="btn btn-primary cancel-name" type="button">Cancel</button>
  </div>
</div>

<div class="input-group mb-3 modal-login">
  <div class="input-block">
    <input
      type="text"
      id="input-login-modal"
      class="form-control"
      placeholder="Enter login"
      aria-label="Recipient's username"
      aria-describedby="basic-addon2"
    />
    <button class="btn btn-primary submit-login" type="button">Submit</button>
    <button class="btn btn-primary cancel-login" type="button">Cancel</button>
  </div>
</div>

<div class="input-group mb-3 modal-password">
  <div class="input-block">
    <input
      type="text"
      id="input-password-modal"
      class="form-control"
      placeholder="Enter password"
      aria-label="Recipient's username"
      aria-describedby="basic-addon2"
    />
    <button class="btn btn-primary submit-password" type="button">
      Submit
    </button>
    <button class="btn btn-primary cancel-password" type="button">
      Cancel
    </button>
  </div>
</div>
<div class="input-group mb-3 modal-delete">
  <div class="input-block">
    <div class="delete-confirmation">
      <h4>Delete account?</h4>
    </div>
    <div class="buttons">
      <button class="btn btn-primary delete-password" type="button">
        Confirm
      </button>
      <button class="btn btn-primary cancel-delete" type="button">
        Cancel
      </button>
    </div>
  </div>
</div>
