<div class="login">
  <h2>SIGN UP</h2>
  <form [formGroup]="signupForm" (ngSubmit)="submitSignUp()">
    <div class="mb-3">
      <input
        type="text"
        formControlName="name"
        class="form-control"
        placeholder="First name*"
      />
    </div>

    <div class="mb-3">
      <input
        type="text"
        formControlName="surname"
        class="form-control"
        placeholder="Last name*"
      />
    </div>
    <div class="mb-3">
      <input
        type="email"
        formControlName="email"
        class="form-control"
        id="inputEmail"
        placeholder="Email address*"
      />
      <div
        class="warning"
        *ngIf="
          this.signupForm.get('email')?.invalid &&
          this.signupForm.get('email')?.touched
        "
      >
        wrong email
      </div>
    </div>
    <div class="mb-3">
      <input
        type="password"
        formControlName="password"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Password*"
      />
      <div
        class="warning"
        *ngIf="
          this.signupForm.get('password')?.invalid &&
          this.signupForm.get('password')?.touched
        "
      >
        min 8 characters, at least 1 letter and 1 number)
      </div>
    </div>
    <div class="mb-3 form-check">
      <input
        type="checkbox"
        formControlName="argeement"
        class="form-check-input"
        id="exampleCheck1"
      />
      <label class="form-check-label" for="exampleCheck1"
        >I agree to share my personal data</label
      >
    </div>
    <button class="btn" [disabled]="signupForm.invalid">Submit</button>
  </form>
  <br />
  <div class="form-text">
    Have an account? <a routerLink="/login">Log In</a>
  </div>
</div>
