body {
  background-image: url('./assets/fon2.png');
  background-position: 50% 15%;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 450px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
