<footer class="banner-footer">
  <a href="https://rs.school/angular/" target="_blank"
    ><img src="../../../assets/rs-school-logo.svg" width="100"
  /></a>
  <div class="course-info">
    {{ 'footer.1' | translate }}
    <a href="https://cv-masliak-yulia-front-end.netlify.app/" target="_blank">{{
      'footer.2' | translate
    }}</a>
    {{ 'footer.3' | translate }}
    <a
      href="https://github.com/yuliaMasliak/angular-project-management-system"
      target="_blank"
      >{{ 'footer.4' | translate }}</a
    ><br />
    {{ 'footer.5' | translate }}
  </div>
</footer>
