<footer class="banner-footer">
  <a
    href="https://rs.school/angular/"
    target="_blank"
    ><img
      src="../../../assets/rs-school-logo.svg"
      width="100"
      alt="RSSchool Logo"
  /></a>
  <div class="course-info">
    {{ 'footer.coded' | translate }}
    <a
      href="https://cv-masliak-yulia-front-end.netlify.app/"
      target="_blank"
      >{{ 'footer.author' | translate }}</a
    >
    {{ 'footer.sourced' | translate }}
    <a
      href="https://github.com/yuliaMasliak/angular-project-management-system"
      target="_blank"
      >{{ 'footer.github' | translate }}</a
    ><br />
    {{ 'footer.date' | translate }}
  </div>
</footer>
