.column {
  background-color: #45395380;
  color: white;
  width: 300px;
  border-radius: 5px;
  min-height: 200px;
  overflow-y: auto;
  padding: 10px;
  cursor: pointer;
  margin-right: 20px;
}
.settings {
  display: flex;
  justify-content: space-between;
}
.bi {
  cursor: pointer;
}
.column-title {
  font-size: 2rem;
}
.task {
  width: fit-content;
  color: pink;
  padding: 4px;
  text-decoration: none;
  cursor: pointer;
}
svg:hover {
  cursor: pointer;
  color: rgb(40, 57, 206);
}
svg {
  color: rgb(172, 39, 72);
}
.task-list {
  height: 7rem;
  overflow: hidden;
  overflow-y: auto;
}
@media (max-width: 640px) {
  .columns {
    flex-direction: column;
  }
  .column {
    width: 280px;
    margin-right: 0px;
  }
}
@media (max-width: 440px) {
  .columns {
    flex-direction: column;
  }
  .column {
    width: 250px;
  }
}
