<div
  cdkDrag
  class="column"
  id="column-{{ column.columnId }}"
>
  <div class="fixed">
    <div class="settings">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        fill="currentColor"
        class="bi bi-pencil-square"
        viewBox="0 0 16 16"
        class="edit-column-btn"
        id="svg-{{ column.columnId }}"
        (click)="editColumn(column.columnId)"
      >
        <path
          d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
        />
        <path
          fill-rule="evenodd"
          d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
        />
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-trash3-fill"
        viewBox="0 0 16 16"
        class="delete-column-btn"
        id="svg-delete-{{ column.columnId }}"
        (click)="deleteColumn(column.columnId)"
      >
        <path
          d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"
        />
      </svg>
    </div>
  </div>

  <div
    class="column-title"
    id="title-{{ column.columnId }}"
    class="edit-columnTitle-btn"
    (click)="editColumnOnTitle(column.columnId)"
    [ngStyle]="{ display: displayTitle == true ? 'block' : 'none' }"
  >
    {{ column.columnTitle }}
  </div>
  <div
    *ngIf="showInput"
    class="input-edit-title"
    id="edit-title-{{ column.columnId }}"
  >
    <input
      class="edit-title-input"
      type="text"
      id="edit-input-{{ column.columnId }}"
    />
    <svg
      class="svg"
      (click)="onClick(true)"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 512 512"
    >
      <path
        d="M470.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L192 338.7 425.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"
      />
    </svg>
    <svg
      class="svg"
      (click)="onClick(false)"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 320 512"
    >
      <path
        d="M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z"
      />
    </svg>
  </div>
  <div>
    <a
      class="task"
      (click)="createTaskEmit(column.columnId)"
    >
      + {{ 'task.add' | translate }}</a
    >
  </div>
  <div
    class="tasks-list-{{ column.columnId }} task-list"
    id="columnId-{{ column.columnId }}"
    cdkDropList
    (cdkDropListDropped)="drop($event)"
    #tasksList="cdkDropList"
    [cdkDropListData]="column.tasks"
  >
    <app-tasks
      cdkDrag
      *ngFor="let task of column.tasks"
      [task]="task"
      (editTaskEvent)="editTaskEventEmit($event)"
      (deleteTaskEvent)="deleteTaskEventEmit($event)"
    ></app-tasks>
  </div>
</div>
