.columns {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 10px;
  width: 100%;
  flex-grow: 1;
  flex-basis: 0;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
}
.column {
  background-color: #45395380;
  color: white;
  width: 45%;
  border-radius: 5px;
  min-height: 200px;
  padding: 10px;
}
.settings {
  display: flex;
  justify-content: space-between;
}
.bi {
  cursor: pointer;
}
